.about-section{

  .about-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    background-image: linear-gradient(#00000022,  #00000099),url("./assets/img/about-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    img{
      width: 300px;
      object-fit: contain;
      margin-bottom: 50px;
    }


    .history-text{
      width: 50%;
      font-size: 34px;
      text-align: center;
      line-height: 1.5em;
      font-family: 'Lora', serif;
      //color: lighten($secondaryColor,20%);
    }
  }

  .about-team{
    display: flex;
    height: 100vh;
    width:100%;
    //background-color: #fff;


    .team-photo{
      width:60%;
      height: 100%;
      object-fit: cover;
    }

    .team-content{
      display: flex;
      justify-content:center ;
      align-items: center;
      flex-direction: column;

      .team-title{
        font-family: 'Lora', serif;
        font-weight: 400;
        color: lighten($secondaryColor,20%);
        font-size: 80px;

      }

      .team-line{
        width: 15%;
        height: 1px;
        margin: 20px 0;
        background-color: lighten($secondaryColor,20%);


      }
      .team-describe{
        font-size: 30px;
        width: 80%;
        text-align: center;
        //color: black;
        font-family: 'Lora', serif;
        line-height: 1.5em;

      }
    }
  }

}
