.about-section{
padding-top:80px ;
  .about-team{
    display: flex;
    height: 100vh;
    width:80%;
    margin: 0 auto;


    .team-photo{
      width:50%;
      height: 100%;
      object-fit: cover;
    }

    .team-content{
      display: flex;
      justify-content:center ;
      align-items: center;
      flex-direction: column;

      .team-title{
        font-family: 'Lora', serif;
        font-weight: 400;
        color: $secondaryColor;
        font-size: 6vw;

      }

      .team-line{
        width: 15%;
        height: 1px;
        margin: 20px 0;
        background-color: $secondaryColor;


      }
      .team-describe{
        font-size:calc(8px + 1.2vw);
        width: 80%;
        text-align: center;
        font-family: 'Lora', serif;
        line-height: 1.5em;

      }
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;

      .team-photo{
        padding-top: 20px;
        height: 50%;
        width: 90%;
      }
      .team-content{
        margin-top: 40px;

        .team-describe{
          font-size:calc(10px + 1.2vw);

        }
      }

    }

  }

}
