.about-section {
  padding-top: 50px;
  .about-team {
    display: flex;
    height: 85vh;
    width: 100%;
    margin: 0 auto;
    .team-photo {
      width: 50%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;

      .white-back {
        position: absolute;
        width: 100%;
        top: 0;
      }

      .dark-back {
        position: absolute;
        width: 100%;
        bottom: 0;
      }

    }

    .photo {
      width: 500px;
      height: 700px;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 1;
    }

    .white-back {
      background-color: $textColor;
      height: 30%;
    }

    .dark-back {
      background-color: $nav;
      height: 70%;
    }

    .team-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;

      .team-title {
        font-family: 'Panton', serif;
        text-transform: uppercase;
        font-weight: 800;
        color: $nav;
        font-size: 3vw;
      }

      .team-line {
        width: 15%;
        height: 1px;
        margin: 20px 0;
        background-color: $nav;
      }

      .team-first{
        width: 70%;
        line-height: 1.5em;
        color: $nav;
        font-size: calc(10px + 0.5vw);
        font-weight: 600;
      }

      .team-sec {
        width: 70%;
        padding-top: 50px;
        padding-right: 20px;
        font-size: calc(10px + 0.5vw);
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      height: auto;


      .team-photo {
        padding-top: 20px;
        height: 50%;
        width: 90%;
      }
      .team-content {
        margin-top: 40px;

        .team-title {
          font-size: 30px;
        }

        .team-describe {
          font-size: calc(10px + 1.2vw);
        }
      }

    }

  }

}
