.head-logo {
  width: 50%;
}

.header-video {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: -3;
    overflow: hidden;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    //background: linear-gradient(
    //                rgba($primaryColor, 0.1),
    //                rgba($primaryColor, 0),
    //                rgba($primaryColor, .1)
    //)
  }

  .header-text {
    text-align: center;
    animation: fadeIn ease-in-out 2s;
    width: 60%;
    color: $greyColor;

    .header-title {
      font-weight: 400;
      font-size: 2vw;
    }

    .header-logo {
      width: 50%;
      margin-bottom: 15px;

    }

    hr {
      background: #fff;
      border: 0;
      height: 1px;
      width: 70%;
      margin: 10px auto;
    }

    .header-msg {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 200;
      font-size: 3vw;
      color: #fff;

    }
  }

}

@keyframes fadeIn {
  0% {
    transform: translate(0, 60%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
