.header-video {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: -3;
    overflow: hidden;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    rgba($primaryColor, 0.8),
                    rgba($primaryColor, 0.1),
                    rgba($primaryColor, 1)
    )
  }

  .header-text {
    text-align: center;
    animation: fadeIn ease-in-out 2s;

    .header-title {
      width: 50%;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2vw;
      letter-spacing: 1px;
      margin: 0 auto;
    }

    hr {
      background: $textColor;
      border: 0;
      height: 1px;
      margin: 10px 0;
    }

    .header-msg {
      font-family: 'Lora', serif;
      font-weight: 400;
      font-size: 6vw;

    }
  }

}

@keyframes fadeIn {
  0% {
    transform: translate(0, 60%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
