.models {
  background-color: $nav;
}

.header-model {
  position: relative;
  padding: 50px 0;

  img {
    object-fit: contain;
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

.highlights {
  overflow: hidden;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;

  &-photos {
    display: flex;
    width: 80%;
    margin: 0 auto;

    img {
      width: 33%;
      height: 60vw;
    }

    .first {
      position: relative;
      transform: translate(0, -40%);
      object-fit: cover;
    }

    .sec {
      position: relative;
      transform: translate(0, 25%);
      object-fit: cover;
    }

    .third {
      position: relative;
      transform: translate(0, 60%);
      object-fit: cover;
    }
  }

  .big-text {
    position: absolute;
    z-index: 1;
    width: 40%;
    text-transform: uppercase;
    font-weight: 800;
    top: 0;
    right: 0;
    font-size: 8vw;
    text-align: end;
    transform: translate(-25%, 0%);

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      right: 0;
      height: 1vw;
      width: 30%;
      background-color: #fff;
    }
  }

  .small-text {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 17%;
    font-size: 1.5vw;
    font-family: 'PT Sans', sans-serif;
    transform: translate(100%, -150%);

    strong {
      margin-left: 5px;
    }
  }
  @media (max-width: 1024px) {
    max-height: 500px;
  }
}

.color-model {
  background-image: url("../assets/img/dark-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin: 50px 0;
  position: relative;

  .white-bar {
    width: 20%;
    height: 0.3vw;
    background-color: #fff;
    z-index: 1;
  }

  img {
    margin: 100px 0;
    display: block;
    width: 80%;
    z-index: 1;
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 50px 0;
  }
}

.features {
  background-image: url("../assets/img/inside-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  img {
    width: 40%;
    object-fit: contain;
    margin-right: 100px;
  }

  .specs {
    width: 30%;
    display: flex;
    justify-content: center;

    .left-side {
      margin-right: 50px;
    }

    h1 {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: calc(1vw + 10px);
    }

    .info-container {
      margin-bottom: 15px;

      p {
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: calc(0.5vw + 7px);
      }

      p:first-child {
        font-weight: 800;
      }

      p:last-child {
        //margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    img {
      width: 90%;
      margin-right: 0;
      margin-bottom: 50px;
    }

    .specs {
      width: 80%;
    }
  }
}

.inside {
  position: relative;

  img {
    width: 100%;
  }

  &-info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    transform: translate(-20%, -100%);
    text-align: end;
    font-family: 'Source Sans Pro', sans-serif;

    .white-bar {
      width: 30%;
      height: 0.4vw;
      background-color: #fff;
      margin: 20px 0 20px auto;
    }

    h1 {
      font-size: 2vw;
      text-transform: uppercase;
    }
  }

  &-text {
    font-weight: 200;
    font-size: 1.2vw;
  }

  @media (max-width: 767px) {
    &-info {
      transform: translate(-20%, -40%);
      .white-bar {
        margin: 10px 0 10px auto;
      }
      h1 {
        font-size: calc(10px + 0.3vw);
      }
    }

    &-text {
      font-size: calc(7px + 0.3vw);

    }
  }
}


// styles of media carousel

.gallery-container {
  background-image: url("../assets/img/gallery-background.png");
  background-size: cover;
  padding: 50px 0;
}

.model-image-gallery {
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before,
  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: $secondaryColor;
  }

  max-width: 130vh;
  margin: 0 auto;
  //height: 500px;

  .image-gallery-slides {
    .image-gallery-slide {
      &.right,
      &.left {
        opacity: 0;
      }

      .image-gallery-image {
        object-fit: cover;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        //padding-top: 25px;
      }
    }
  }


  .video-wrapper {
    background-color: $primaryColor;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    //padding-top: 25px;
    height: 0;


    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .close-video::before {
      font-size: 16px;
      padding: 15px;
    }

    .close-video::before {
      content: '✖';
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 20px;
      padding: 20px;
      z-index: 1;
      line-height: .7;
      display: block;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    .play-button {
      height: 40px;
      width: 65px;

      &:after {
        top: 11px;
        left: 27px;
        border-width: 8.5px 0 8.5px 12px;
      }
    }
  }

  .play-button {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 100px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, .9);
    }

    &.play-button:after {
      content: "";
      display: block;
      position: absolute;
      top: 16.5px;
      left: 40px;
      margin: 0 auto;
      border-style: solid;
      border-width: 12.5px 0 12.5px 20px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    }
  }

  .image-gallery-thumbnails-wrapper {
    .image-gallery-thumbnails {
      .image-gallery-thumbnails-container {
        .image-gallery-thumbnail {
          &.active {
            border-color: $secondaryColor;
          }
        }
      }
    }
  }
}

