.wrapper {
  height: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  background-color: $primaryColor;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 999;
  //opacity: 0.9;
  .wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    height: 100%;
    width: 115px;
    display: block;
    background-image: url("./assets/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
  }

  .nav-menu {
    list-style: none;
    height: 50px;
    margin: 0 20px 0 0;
    font-weight: 800;
    display: flex;
    align-items: center;

    .nav-menu-el {
      height: 100%;
      display: block;
      align-items: center;
      margin-left: 20px;

      .nav-menu-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor;
        font-family: 'Panton', sans-serif;
        font-size: 15px;
        transition: .3s;

        &:hover {
          color: darken($textColor, 40%);
        }
      }
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

}




