.wrapper {
  position: relative;
  height: 100%;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  //background-color: darken($primaryColor, 30%);
  background-color:$greyColor;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: height .3s;
  .wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    height: 100%;
    width: 115px;
    display: block;
    background-image: url("./assets/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
  }
  .logo-white{
    background-image: url("./assets/img/logo2.svg");
  }

  .nav-menu {
    list-style: none;
    height: 50px;
    margin: 0 20px 0 0;
    font-weight: 800;
    display: flex;
    align-items: center;

    .nav-menu-el {
      height: 100%;
      display: block;
      align-items: center;
      margin-left: 20px;
      position: relative;

      &:last-of-type{
        margin-right: 15px;
      }

      .nav-menu-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: $greyColor;
        font-family: 'Panton', sans-serif;
        font-size: 15px;
        transition: .3s;



        &:hover {
          color: darken($textColor, 40%);
        }
      }
      .black{
        color: #000;
      }

      //DROPDOWN models submenu styles:
      .nav-menu-submenu {
        position: absolute;
        top: calc(100% + 15px);
        left: 50%;
        transform: translate(-50%);
        width: 400px;
        //width: 50vw;
        display: flex;
        flex-direction: column;
        background-color: rgba($primaryColor, 0.98);
        //margin-top: -20vh;
        //padding-top: 20vh;

        .nav-menu-subel {
          //background-color: rgba($primaryColor, 0.95);
          //border: 2px solid $textColor;
          //margin-bottom: 10px;
          transition: background-color .5s, color .5s;
          color: $secondaryColor;

          &:last-of-type {
            margin-bottom: 100vh;
          }

          &:hover {
            background-color: darken(rgba($textColor, 0.95), 10%);
            color: $primaryColor;
          }

          .nav-menu-sublink {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: bottom;
            padding: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

}
.scroll-black{
  background-color: transparent;
  height: 80px;
  color: black;

}
.scroll-white{
  background-color: #F3F3F3;
  height: 80px;

}
.language-change{
  img{
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
  }
  .polish{
    margin-right: 7px;
  }
}






