.wrapper {
  position: relative;
  height: 100%;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  background-color: $nav;
  height: 150px;
  width: 100%;
  z-index: 999;
  transition: height .3s;

  .wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    height: 100%;
    width: 150px;
    display: block;
    background-image: url("../assets/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
  }

  .nav-menu {
    list-style: none;
    height: 50px;
    margin: 0 20px 0 0;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;


    .nav-vertical-bar {
      width: 2px;
      margin-right: 10px;
      height: 90px;
      background-color: $textColor;
    }

    .nav-menu-el {
      height: 100%;
      display: block;
      align-items: center;
      margin-left: 20px;
      position: relative;

      &:last-of-type {
        margin-right: 15px;
      }

      .nav-menu-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor;
        font-family: "Source Sans Pro - Black", sans-serif;
        font-weight: 800;
        font-size: 18px;
        transition: .3s;

        &:hover {
          color: darken($textColor, 40%);
        }
      }


      //DROPDOWN models submenu styles:
      .nav-menu-submenu {
        position: absolute;
        top: calc(100% + 50px);
        left: 50%;
        transform: translate(-50%);
        width: 400px;
        height: 460px;
        display: flex;
        flex-direction: column;
        background-color: $nav;
        z-index: 10;

        .nav-menu-subel {
          transition: background-color .5s, color .5s;
          color: $secondaryColor;

          &:last-of-type {
            margin-bottom: 100vh;
          }

          &:hover {
            background-color: lighten($nav, 30%);
            color: $primaryColor;
            //filter: invert(1);
          }

          .nav-menu-sublink {
            height: 230px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: bottom;
            padding: 10px;
            background-repeat: no-repeat;
            background-position: center bottom 100px;
            background-size: 350px;
            text-decoration: none;
            padding-bottom: 50px;
            padding-left: 30px;
            text-transform: uppercase;
            color: #fff;
            position: relative;
            
            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: 30px;
              left: 33px;
              width: 330px;
              height: 2px;
              background-color: #fff;
            }
          }
        }
      }

    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

}

.scroll-black {
  background-color: transparent;
  height: 80px;
  color: black;

}

.scroll-white {
  background-color: #F3F3F3;
  height: 80px;
}

.select-wrapper {
  margin-right: 50px;
  position: relative;
  font-family: 'PT Sans', sans-serif;

  .lang-value {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      height: 18px;
      margin-left: 7px;
    }
  }

  .language-list {
    display: flex;
    position: absolute;
    top: 88px;
    right: -52px;
    flex-direction: column;
    background-color: $nav;
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: visible;
    opacity: 0;
    z-index: 1;

    span {
      cursor: pointer;
      width: 100%;
      padding: 5px 40px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: lighten($nav, 30%);
      }
    }
  }
}







