.news-container {
  padding-top: 60px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //background-color: lighten($primaryColor, 3%);
  //background-image: url("./assets/img/simple_dashed/simple_dashed.png");

}

.news-section {
  margin-top: 60px;
  width: 1200px;

  @media (max-width: 1200px) {
    width: 780px;

  }
  @media (max-width: 850px) {
    width: 80%;

  }

  .news-title {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;

    @media (max-width: 850px) {
      font-size: 40px;

    }

  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    position: relative;
    color: darken($textColor, 30%);
    width: 370px;
    min-height: 460px;
    transition: .2s;
    margin-right: 40px;

    &:nth-child(3n) {
      margin: 0;
    }

    .img-container {
      width: 100%;
      overflow: hidden;
      height: 200px;

      @media (max-width: 850px) {
        height: auto;
      }
    }

    .post-img {

      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .7s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      @media (max-width: 850px) {

      }
    }

    .post-title {
      width: 100%;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 17px;
      margin: 10px 0;
      transition: .2s;
      color: darken($textColor, 10%);
      word-break:break-all;
      cursor:default;
      &:hover {
        color: darken($textColor, 40%);
      }

    }

    .post-date {
      font-size: 12px;
      margin-top: 20px;

    }

    .post-text {
      font-size: 14px;
      height: 100px;
      line-height: 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 40px;

    }

    .post-button {
      display: block;
      transform: translate(0,-30%);
      background-color: inherit;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border: none;
      a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 7px 20px;
        color: darken($textColor, 10%);
        border: 1px solid darken($textColor, 10%);
        text-decoration: none;
        transition: .2s;

        &:hover{
          color: darken($textColor, 50%);
          border-color: darken($textColor, 50%);


        }
      }



    }

    @media (max-width: 1200px) {
      &:nth-child(2n) {
        margin: 0;
      }

    }

    @media (max-width: 850px) {
      &:nth-child(1n) {
        margin: 0 0 30px 0;

      }
      width: 100%;
      height: auto;
    }
  }
}
