//Main container
.news-container {
  padding-top: 80px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news-section {
  margin-top: 60px;
  width: 1200px;
  //Media for section with news
  @media (max-width: 1200px) {
    width: 780px;

  }
  @media (max-width: 850px) {
    width: 100%;

  }
  //Main title
  .news-title {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
    //color: $secondaryColor;

    @media (max-width: 850px) {
      font-size: 40px;

    }

  }

  // Single news/post styling
  .post-container {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    position: relative;
    width: 33%;
    min-height: 400px;
    max-height: 400px;
    transition: background-color .2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;


    .filter {
      position: absolute;
      padding: 30px 20px;
      background-image: linear-gradient(#00000044, #00000044, #00000000);
      width: 100%;
      height: 100%;
      transition: .2s;

      &:hover {
        background-color: #00000099;
      }

      &:hover .post-title {
        color:  $secondaryColor;
      }
    }

    .post-title {
      width: 100%;
      font-weight: 800;
      font-size: 40px;
      margin: 10px 0;
      transition: .2s;
    }

    .post-date {
      font-size: 16px;
      font-weight: 800;

    }

    .bar {
      width: 30px;
      height: 2px;
      //background-color: lighten($secondaryColor, 20%);
      background-color: $secondaryColor;
      margin-bottom: 10px;

    }

    .post-text {
      font-size: 14px;
      line-height: 1.5em;
      overflow: hidden;
      margin-bottom: 40px;
      font-weight: 800;

    }

    // Media for  single post
    @media (max-width: 1200px) {
      min-height: 250px;
      max-height: 250px;
      .post-date {
        font-size: 12px;
      }
      .post-title {
        font-size: 25px;
      }
      .post-text {
        font-size: 12px;
      }
    }

    @media (max-width: 850px) {
      .post-date {
        font-size: 3vw;
      }
      .post-title {
        font-size: 7vw;
      }
      .post-text {
        font-size: 3vw;
      }
      .bar {
        height: 4px;
        width: 40px;
      }
      width: 95%;
      margin: 0 auto;
      min-height: 70vw;
      max-height: 70vw;
    }


  }

  // Active class given after click on post
  .active {
    margin-bottom: 500px;
    background-color: #00000099;


    @media (max-width: 1200px) {
      margin-bottom: 700px;
    }
  }

  // Content Modal styling
  .post-content {
    display: flex;
    justify-content: space-between;
    color: black;
    position: absolute;
    padding: 30px;
    top: 100%;
    height: 500px;
    width: 300%;
    overflow: hidden;
    background-color: $textColor;
    z-index: 10;
    cursor: auto;

    //Media for every modal
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      height: 700px;
    }
    @media (max-width: 850px) {
      width: 100%;
      padding: 10px;
      justify-content: flex-start;
    }


  }

  .post:nth-child(3n+2) .post-content {
    left: -100%;
    @media (max-width: 850px) {
      left: 0
    }
  }

  .post:nth-child(3n+3) .post-content {
    left: -200%;
    @media (max-width: 850px) {
      left: 0
    }
  }

  .content-details {
    width: 40%;
    padding-right: 20px;

    .content-date {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 800;

    }

    .content-title {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .content-text {
      font-size: 14px;
      line-height: 1.6em;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;

      p {
        margin-bottom: 15px;
      }

    }

    // Modal content media
    @media (max-width: 1200px) {
      width: 100%;
      max-height: 60%;
      order: 2;
      padding: 0;
      .content-date {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
      }
      .content-title {
        margin-top: 5px;
        font-size: 30px;
      }
      .content-text {
        font-size: 13px;
      }

    }
    @media (max-width: 850px) {
      width: 100%;
      height: auto;
      order: 0;

    }
    @media (max-width: 400px) {
      .content-date{
        font-size: 11px;
      }
      .content-title {
        font-size: 26px;
      }
      .content-text{
        font-size: 12px;
      }

    }

  }

  //Modal slide gallery
  .gallery {
    width: 60%;
    padding-left: 20px;

    img {
      width: 100% !important;
    }

    @media (max-width: 1200px) {
      width: 100%;
      height: 60%;
      padding: 0;

    }
    @media (max-width: 850px) {
      width: 100%;
      max-height: 60%;
      padding: 0;

    }
    @media (max-width: 400px) {
      max-height: 40%;

    }

  }


}
