.news-container {
  padding-top: 60px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //background-color: lighten($primaryColor, 3%);
  //background-image: url("./assets/img/simple_dashed/simple_dashed.png");

}

.news-section {
  margin-top: 60px;
  width: 1200px;

  @media (max-width: 1200px) {
    width: 780px;

  }
  @media (max-width: 850px) {
    width: 80%;

  }

  .news-title {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;

    @media (max-width: 850px) {
      font-size: 40px;

    }

  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    position: relative;
    width: 33%;
    min-height: 420px;
    max-height: 420px;
    transition: .2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;


    .filter{
      position: absolute;
      padding: 30px 20px;
      background-image: linear-gradient(#00000044,#00000044,#00000000);
      width: 100%;
      height: 100%;
      transition: .2s;
      
      &:hover{
        background-color: #00000099;
      }
      &:hover .post-title{
        color:lighten($secondaryColor,20%);
      }
    }

    .post-title {
      width: 100%;
      font-weight: 800;
      font-size: 40px;
      margin: 10px 0;
      transition: .2s;
    }

    .post-date {
      font-size: 16px;
      font-weight: 800;

    }
    .bar{
      width: 30px;
      height: 2px;
      background-color: lighten($secondaryColor,20%);
      margin-bottom: 10px;

    }

    .post-text {
      font-size: 14px;
      line-height: 1.5em;
      overflow: hidden;
      margin-bottom: 40px;
      font-weight: 800;

    }

    @media (max-width: 1200px) {
      &:nth-child(2n) {
        margin: 0;
      }

    }

    @media (max-width: 850px) {
      &:nth-child(1n) {
        margin: 0 0 30px 0;

      }
      width: 100%;
      height: auto;
    }
  }
  .active{
    margin-bottom: 50vh;
  }

  // Content Modal
  .post-content{
    display: flex;
    justify-content: space-between;
    color: black;
    position: absolute;
    padding: 30px;
    bottom: 0;
    transform: translate(0,100%);
    height: 50vh;
    width: 300%;
    background-color:$textColor;
    z-index: 999;
  }
  .post:nth-child(3n+2) .post-content{
    left: -100%;
  }
  .post:nth-child(3n+3) .post-content{
    left: -200%;
  }

  .content-details{
    width: 40%;
    .content-date{
      margin-bottom: 10px;
      font-size: 14px;
    }
    .content-title{
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .content-text{
      font-size: 14px;
      overflow: hidden;
      margin-bottom: 10px;
    }

  }



  .gallery{
    width: 60%;
  }



}
