.retailers-wrapper {
  display: flex;
  height: calc(100vh - 60px);

  .retailers-map-wrapper {
    width: 70%;
    height: 100%;
  }

  .retailers-list-wrapper {
    flex-grow: 1;
    overflow-y: scroll;

    .retailers-header {
      padding: 5px;
      padding-bottom: 30px;
      border-bottom: 2px solid $textColor;
    }

    .retailer-list-item {
      padding: 15px;
      border-bottom: 1px solid $textColor;

      // DEV DEV DEV
      &:nth-of-type(3) {
        background-color: lighten($primaryColor, 40%);
      }

      .link {
        text-decoration: none;
        color: $textColor;
      }

      .link-phone {
        font-weight: 700;
      }

      .link-btn {
        border: 1px solid $textColor;
        display: block;
        margin: 5px 0 5px 0;
        padding: 5px;
        background-color: lighten($primaryColor, 10%);

        &:hover {
          background-color: lighten($primaryColor, 30%);

        }
      }
    }
  }
}