.social-icons {
  display: flex;
  font-size: 30px;
  @media (max-width:960px) {
    font-size: 20px;
  }
  @media (max-width:600px) {
    font-size: 15px;
  }

  .border-icon{
    color: #F3F3F3;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: background-color .2s;
    @media (max-width:960px) {
      height: 45px;
      width: 45px;
      margin: 20px 10px 10px 10px;
    }
    @media (max-width:600px) {
      height: 35px;
      width: 35px;
    }
    &:hover{
      background-color: lighten($nav, 40%);
    }
  }

}
