@font-face {
  font-family:'Panton';
  src: url("./assets/fonts/panton.otf");
  src:
          local('Panton'),
          local('Panton'),
          url('./assets/fonts/panton.otf')
          format('opentype');
}
$primaryColor: #000;
$secondaryColor:#845637;
$textColor: #eee;