@font-face {
  font-family:'Panton';
  src: url("./assets/fonts/panton.otf");
  src:
          local('Panton'),
          local('Panton'),
          url('./assets/fonts/panton.otf')
          format('opentype');
}
$primaryColor: #000;
//#c19434;
$secondaryColor:lighten(#c19434, 20%);
$textColor: #eee;