@font-face {
  font-family:'Panton';
  src: url("./assets/fonts/panton.otf");
  src:
          local('Panton'),
          local('Panton'),
          url('./assets/fonts/panton.otf')
          format('opentype');
}
$primaryColor: #111;
$secondaryColor: #bada55;
$textColor: #fff;