@import "sass/variables.scss";
@import "sass/slider.scss";
@import "sass/nav.scss";
@import "sass/header.scss";
@import "sass/burger.scss";
@import "sass/mainpagetext.scss";
@import "sass/news.scss";
@import "sass/findretailer";
@import "sass/retailers";
@import "sass/retailers-page";
@import "sass/singlePost";

//font-family: 'Lora', serif;
//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Roboto Mono', monospace;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  //font-family:'Panton';
}

body{
  //background-color: $primaryColor;
  background-color: lighten($primaryColor, 3%);
  //background-image: url("./assets/img/simple_dashed/simple_dashed.png");
  color: $textColor;
}