@import "sass/variables.scss";
@import "sass/slider.scss";
@import "sass/nav.scss";
@import "sass/header.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $primaryColor;
}








