@import "sass/variables.scss";
@import "sass/slider.scss";
@import "sass/nav.scss";
@import "sass/header.scss";
@import "sass/burger.scss";
@import "sass/mainpagetext.scss";
@import "sass/news.scss";
@import "sass/findretailer";
@import "sass/retailers";
@import "sass/about";
@import "sass/form";
@import "sass/socialicons";
@import "sass/footer";
@import "sass/model";
@import "sass/footer";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900&display=swap&subset=latin-ext');
//font-family: 'Lora', serif;
//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Roboto Mono', monospace;

//font-family: 'Lato', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Titillium Web', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Abel', sans-serif;
//font-family: 'Yanone Kaffeesatz', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;

}
//#263238
body{
  //background-color: lighten($primaryColor, 5%);
  background-color: #f3f3f3;
  color: $textColor;
}
